<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="settings" translate="label" sortOrder="10">
            <label>Perspective</label>
        </tab>
        <section id="multiSelectSection" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>Show Text after title</label>
            <tab>settings</tab>
            <resource>Perspective_BlockDiscount::name_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Show text</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1"  showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="multiSelect" translate="label" type="select" sortOrder="1" showInDefault="1"  showInWebsite="0" showInStore="0">
                    <label>Select Category</label>
                    <source_model>Perspective\NameChange\Model\Config\Source\Custom</source_model>
                </field>
                <field id="endDate" translate="label" type="date" sortOrder="1" showInDefault="1"  showInWebsite="0" showInStore="0">
                    <label>Set the end sales date</label>
                    <frontend_model>Perspective\NameChange\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
