<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="override_method" type="Perspective\Shipping\Plugin\Model\MethodList" sortOrder="10" disabled="false"  />
    </type>
</config>
