<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="perspective_holiday_holiday_listing_data_source" xsi:type="string">Perspective\Holiday\Model\ResourceModel\Holiday\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Perspective\Holiday\Model\ResourceModel\Holiday\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">perspective_holiday_days</argument>
            <argument name="eventPrefix" xsi:type="string">perspective_holiday_days_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">holiday_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Perspective\Holiday\Model\ResourceModel\Holiday</argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Perspective\Holiday\Model\ListProduct" />
</config>
