<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="order_cancel" translate="label" sortOrder="10">
            <label>Perspective</label>
        </tab>
        <section id="cancel" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Cancel</label>
            <tab>custom_price</tab>
            <resource>Perspective_CancelOrder::CancelOrder_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cancel Order</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="status" translate="label" type="multiselect" sortOrder="1" showInDefault="1"  showInWebsite="0" showInStore="0">
                    <label>Allow Status</label>
                    <source_model>Perspective\CancelOrder\Model\Config\Source\OrderStatus</source_model>
                </field>
                <field id="group" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Group</label>
                    <source_model>Perspective\CancelOrder\Model\Config\Source\CustomerGroup</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
